.searchFilter-bills {
    margin-top: 20px;
    margin-bottom: 60px;
    height: 223px;
}


.box-filter-b {
    border-radius: 35px;
    padding: 20px;
    height: 300px;
}

.round3b {
    border-radius: 35px;
    padding: 20px;
    height: 260px;
}

.align-b {
    padding-left: 20px;
}

/*table bills*/
table {
    border: 2px solid black;
    border-collapse: separate;
    border-radius: 6px;


}

th {
    border: 1px solid black;
    text-align: center;
    padding-left: 20px;
    padding-right: 30px;
}

td {
    padding-top: 30px;
    border: 1px solid black;
}

.filter-table {
    width: 50%;
    margin: 0;
    display: inline-block;
}

.generare {
    width: 8%;
    position: absolute;
    top: 230px;
    right: 32px;
}

/*STEPS FORM CREATE BILLS START*/
/*#regForm {*/
/*    background-color: #ffffff;*/
/*    margin: 100px auto;*/
/*    font-family: Raleway;*/
/*    padding: 40px;*/
/*    width: 70%;*/
/*    min-width: 300px;*/
/*}*/


/*!*!* Mark input boxes that gets an error on validation: *!*!*/
input.invalid {
    background-color: #ffdddd;
}

select.invalid {
    background-color: #ffdddd;
}


.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #04AA6D;
}

/*STEPS FORM CREATE BILLS END*/

/*add * to required fields*/
.required:before {
    content:" *";
    color: red;
    vertical-align: top;
}
