
.body-p { 
    /* background-color: rgb(233, 229, 229); */
    background: url(public/background/wallpaper-pink.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
  }

.filter-customers {
    left:190px;

}
.list-body {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-body li {
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f8c6ec;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
}

.list-body li:hover {
    background-color: #eee;
}

.option-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}
.active, .add:hover {background-color:#717172;}
.add {
    border-radius: 20px;
    background-color: rgb(163, 162, 162);
    color: white;
    font-weight: bold;
    position: absolute;
    padding: 8px 12px;
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
    top:-39px;
    left: -200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

/*PDF*/
.active, .pdf-style:hover {background-color:#717172;}
.pdf-style {
    border: none;
    border-radius: 20px;
    background-color: rgb(163, 162, 162);
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    text-align: center;
    font-size: 13px;
    display: inline-block;  
    position: absolute;
    top: 50px;
    right: 202px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    
}

.active, .revert-customers:hover {background-color:#717172;}
.revert-customers {
    border: none;
    border-radius: 20px;
    background-color: rgb(163, 162, 162);
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    top: 6px;
    right: 205px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.active, .filter-customers-OK:hover {background-color:#717172;}
.filter-customers-OK {
    border: none;
    border-radius: 20px;
    background-color: rgb(163, 162, 162);
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    right: 208px;
    top: -38px;
    display:inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.active, .group:hover {background-color:#717172;}
.select-group {

    position: absolute;
    top: -38px;
    right: auto;
}
.select-group1 {

    position: absolute;
    top: 15px;
    right: auto;
}

.select-group2 {

    position: absolute;
    top: 68px;
    right: auto;
}
.select-group3 {

    position: absolute;
    top: 120px;
    right: auto;
}
.select-group4 {

    position: absolute;
    top: 170px;
    right: auto;
}

.group {
    border-radius: 20px;
    background-color: rgb(163, 162, 162);
    color: white;
    font-weight: bold;
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.clintes {
    position: relative;
    top: 100px;

}
.clintes-p {
    position: relative;
    top: 160px;

}
.clients-group {
    height: auto;
    background-color:transparent;
    border-radius: 20px;
}

.filter-selection {
    /* color: rgb(7, 7, 148); */
    font-weight: bold;
    /* font-weight: lighter; */

}

/*search subcategory*/
.customInputContainer {
    width: 20rem;
    display: flex;
    max-width: 20rem;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.customInputContainer .customInput {
    margin: 0 1rem;
    cursor: pointer;
    user-select: none;
    font-size: 1.16rem;
    justify-content: space-between;
    padding: 0.6rem 1rem 0.6rem 0.6rem;
}

.customInputContainer .customInput i {
    transition: transform 0.3s ease-in-out;
}

.customInputContainer.show .customInput i {
    transform: rotate(90deg);
}

.customInputContainer :is(.customInput, .options) {
    width: 100%;
    display: flex;
    color: #202020;
    background: #fff;
    align-items: center;
    border-radius: 0.3rem;
}

.customInputContainer .options {
    display: none;
    padding: 0.6rem;
    font-size: 1.1rem;
    justify-content: start;
    flex-direction: column;
    margin: 0.8rem 1rem 0rem 1rem;
    transition: background-color 0.1s ease-in-out;
}

.customInputContainer.show .options {
    display: block;
}

.customInputContainer .options :is(.searchInput, ul) {
    width: 100%;
    max-height: 15rem;
    overflow-y: scroll;
    position: relative;
}

.customInputContainer .options ul::-webkit-scrollbar {
    width: 6px;
    position: relative;
}

.customInputContainer .options ul::-webkit-scrollbar-track {
    width: 2px;
    border-radius: .2rem;
    background: rgb(0 0 0 / 10%)
}

.customInputContainer .options ul::-webkit-scrollbar-thumb {
    border-radius: .2rem;
    background: rgb(0 0 0 / 30%);
}

.customInputContainer .options .searchInput {
    display: flex;
    padding: 0 0.4rem;
    overflow-y: auto;
    align-items: center;
    border-radius: 0.4rem;
    color: rgb(0 0 0 / 50%);
    border: 2px solid rgb(0 0 0 / 30%);
}

.customInputContainer .options .searchInput.focus {
    border: 2px solid rgb(52 211 153 / 70%);
}

.customInputContainer .options .searchInput input[type="text"] {
    border: 0;
    width: 100%;
    outline: none;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 0.4rem;
    border-radius: 0.4rem;
}

.customInputContainer .options .searchInput input[type="text"]::placeholder {
    font-size: 1rem;
    color: rgb(0 0 0 / 50%);
}

.customInputContainer .options ul {
    margin: 0.5rem 0;
}

.customInputContainer .options ul li {
    cursor: pointer;
    list-style: none;
    padding: 0.4rem 0.4rem;
    border-bottom: 1px solid rgb(204 204 204 / 50%);
}

.customInputContainer .options ul li.selected {
    background: rgb(52 211 153 / 50%);
}

.customInputContainer .options ul li.selected:hover {
    background: rgb(52 211 153 / 50%);
}

.customInputContainer .options ul li:last-child {
    border: 0;
}

.customInputContainer .options ul li:hover {
    background: rgb(52 211 153 / 20%);
}

/*Subcategory dropdowns with input*/

#dropdownInput {
    background-repeat: no-repeat;

}

.subcategory-dropdown {
    position: relative;
    display: inline-block;
}


.delete-icon {
    float: right;
}


/*subcategory*/
/*div.searchable {*/
/*    width: 300px;*/
/*    float: left;*/
/*    margin: 0 15px;*/
/*}*/

/*.searchable input {*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    font-size: 18px;*/
/*    padding: 10px;*/
/*    -webkit-box-sizing: border-box; !* Safari/Chrome, other WebKit *!*/
/*    -moz-box-sizing: border-box; !* Firefox, other Gecko *!*/
/*    box-sizing: border-box; !* Opera/IE 8+ *!*/
/*    display: block;*/
/*    font-weight: 400;*/
/*    line-height: 1.6;*/
/*    color: #495057;*/
/*    background-color: #fff;*/
/*    background-clip: padding-box;*/
/*    border: 1px solid #ced4da;*/
/*    border-radius: .25rem;*/
/*    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/
/*    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px;*/
/*}*/

/*.searchable ul {*/
/*    display: none;*/
/*    list-style-type: none;*/
/*    background-color: #fff;*/
/*    border-radius: 0 0 5px 5px;*/
/*    border: 1px solid #add8e6;*/
/*    border-top: none;*/
/*    max-height: 180px;*/
/*    margin: 0;*/
/*    overflow-y: scroll;*/
/*    overflow-x: hidden;*/
/*    padding: 0;*/
/*}*/

/*.searchable ul li {*/
/*    padding: 7px 9px;*/
/*    border-bottom: 1px solid #e1e1e1;*/
/*    cursor: pointer;*/
/*    color: #6e6e6e;*/
/*}*/

/*.searchable ul li.selected {*/
/*    background-color: #e8e8e8;*/
/*    color: #333;*/
/*}*/

/*deleete subcategory*/

/* .subcategory-delete {

} */

/*SCROLL BAR*/

.subcategory-card {
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
    /* resize: both; */
}

/*deleete subcategory*/

/* .subcategory-delete {

} */
