.revert-b-template {
    position: absolute;
    top: 420px;
    left: 10px;
}

.searchFilter-custom-template {
    margin-top: 20px;
    margin-bottom: 60px;
    height: 490px;
}

.template-inputs {
    border: solid 2px gray;
    margin-bottom: 5px;
    width: 50%;
}

.child-box-create-edit {
    border: solid 2px green;
}

/*dropdown with search*/
#search_customers {
    width: 200px;
}

.add-button {
    display: inline-block;
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: darkgreen;
  }

  .add-button:hover {
    background-color: darkgreen;
  }

  .checkbox-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .checkbox-box input[type="checkbox"] + i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 18px;
    color: #ccc;
  }

  .checkbox-box input[type="checkbox"]:checked + i {
    color: green;
  }


  .delete-button {
    display: inline-block;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }

  