.revert-b-template {
    position: absolute;
    top: 420px;
    left: 10px;
}
.searchFilter-custom-template {
    margin-top: 20px;
    margin-bottom: 60px;
    height: 490px;
}

.template-inputs {
    border: solid 2px gray;
    margin-bottom: 5px;
    width: 50%;
}

.child-box-create-edit {
    border: solid 2px green;
}
