.revert-bills {
    position: absolute;
    top: 250px;
    left: 30px;
}
.box-filter-b {
    border-radius: 35px;
    padding: 20px;
    height: 300px;
}
.round3b {
    border-radius: 35px;
    padding: 20px;
    height: 300px;
}
.align-b {
    padding-left: 20px;
}
table {
    border: 1px solid black;
    border-radius: 50px;
}
th {
    border: 1px solid black;
    text-align: center;
    padding-left: 20px;
    padding-right: 30px;
}
td {
    padding-top: 30px;
    border: 1px solid black;
    
}

