/*!* Filter css*!*/

.searchFilter {
    margin-top: 20px;
    margin-bottom: 20px;
}

.round3 {
    border-radius: 35px;
    padding: 20px;
    height: 200px
}

.box-filter {
    padding-top:18px;
}

.item-left {
    padding-left: 10%;

}

.filter-item1 {
    padding-right: 10px;
}

.filter-control {
    width: 240px;
}

/*search button*/

.searchFliterButton {
    /*position: absolute;*/
    top: -60px;
    right: -330px;
    /*left: 295px;*/
    /*top: -55px;*/

}
